
.d-item {
  height: 35rem;
  max-height: 35rem;
}

.d-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}



/****************CONTACTOS ESTILOS*************************/

#mensaje {
  resize:none;
}

.custom-row {
  height: 200px; /* Modifica la altura del row según tus necesidades */
  margin: 10px;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.descripcion-contacto p {
  text-align: justify;
}


@media (max-width: 576px) {
  .form-group {
    margin-bottom: 15px;
  }
}

.form-container {
  width: 400px;
  /* Ancho del formulario */
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* Esto hace que el formulario ocupe toda la altura de la ventana */
}

.map-container {
  width: 50%;
  max-width: 600px;
  /* Ancho máximo del mapa */
  height: 300px;
  /* Altura del mapa */
  margin-top: 20px;
  /* Espacio entre el mapa y el formulario */
}

.info-contacto,
.descripcion-contacto {
  border: 1px solid #000;
}

@media (min-width: 768px) {

  .info-contacto,
  .descripcion-contacto {
    border-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

@media (max-width: 768px) {
  .background-fon {
    height: 200px;
    /* Altura de la imagen para dispositivos más pequeños */
  }
}



/***********************Términos y Usos************************/

.terminos {
  text-align: justify;
}

.gamer{
  font-family: 'Lobster Two Bold';
  font-weight: bold;
}

.shop {
  font-family: 'Montez';
  font-weight: bold;
}

/**************************QUIENES SOMOS*****************************/


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}