
.d-item {
  height: 35rem;
  max-height: 35rem;
}

.d-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}



/****************CONTACTOS ESTILOS*************************/

#mensaje {
  resize:none;
}

.custom-row {
  height: 200px; /* Modifica la altura del row según tus necesidades */
  margin: 10px;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

.descripcion-contacto p {
  text-align: justify;
}





/***********************Términos y Usos************************/

.terminos {
  text-align: justify;
}

.gamer{
  font-family: 'Lobster Two Bold';
  font-weight: bold;
}

.shop {
  font-family: 'Montez';
  font-weight: bold;
}

/**************************QUIENES SOMOS*****************************/


/****** FOOTER STYLES*********/

.skills-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills {
  overflow: hidden;
  position: relative;
  display: flex;
  
  & .skills-slide {
    white-space: nowrap;
    animation: 50s slide infinite linear;

    & img {
      margin-right: 70px;
      width: 100px;
    }
  }
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }
}
/****** FOOTER STYLES*********/
/****** HEADER STYLES*********/

.header-logo {
  width: 70px;
  height: 70px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 50px;
}

/****** HEADER STYLES*********/

